---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro'
import Certificate from '../components/Certifications.astro'
import GraduationCap from '../components/icons/Certificate.astro';

---

<Layout>
    <main class="px-4">
        <SectionContainer>
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
                Hello, I am Alejandro!<a 
                    href="https://www.linkedin.com/in/alejandro-soriano-morante-376205338/?originalSubdomain=es" 
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center">
                    <Badge> Available to work </Badge>
                </a>
            </h1>
            <h2 class="textl-xl lg:text-2xl text-wrap max-w-[700px]">
                <span>Recently graduated as a Computer Engineer with a specialization in Software Engineering.</span> 
                <span>Specialized in front-end development, working with data, 
                        and developing machine learning algorithms.</span> <span class="text-red-100/70">Granada, España.</span>
            </h2>
            
            <nav class="flex gap-4 mt-7 flex-wrap">
                <SocialPill href="https://www.linkedin.com/in/alejandro-soriano-morante-376205338/?originalSubdomain=es">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </SocialPill> 
                <SocialPill href="https://github.com/Soriano00">
                    <GitHubIcon class="size-4 md:size-6" />
                    GitHub
                </SocialPill>  
                <SocialPill href="mailto:alexsoriano00@gmail.com">
                    <MailIcon class="size-4 md:size-6" />
                    alexsoriano00@gmail.com
                </SocialPill> 
            </nav>

        </SectionContainer>

        <SectionContainer id="experiencia">
            <h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
                <Briefcase class="size-7"/>
                Work Experience
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
                <Code class="size-7"/>
                Proyects
            </h2>
            <Projects />
        </SectionContainer>

        <SectionContainer id="certificados">
            <h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
                <GraduationCap class="size-7"/>
                Certificates
            </h2>
            <Certificate />
        </SectionContainer>

    </main>
</Layout>
