<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4">
    <!-- Imagen del perfil -->
    <img
        class="rounded-full size-10 md:size-12"
        src="/assets/CapturaGim.png"
        alt="Alex foto"
    />

    <!-- Menú de navegación -->
    <nav class="hidden md:flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#certificados">Certificados</a>
        <a href="mailto:alexsoriano00@gmail.com">Contacto</a>
    </nav>

</header>
